@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

/* Variables */
:root {
    --text-color: black;
    --text-color-highlight: #666666;
    --text-color-inverted: white;
    --primary-background-color: white;
    --secondary-background-color: #fff3f2;
    --primary-color: #FF5656;
    --primary-color-highlight: #ffbdbd;
    --secondary-color: #FFD5C3;
    --secondary-color-highlight: #ffe8de;
    --accent-color: #283EC8;
    --seperator-color: #d8d8d8;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background: var(--primary-background-color);
}

.navbar {
    display: flex;
    width: inherit;
    height: 60px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    border-bottom: 1px solid var(--seperator-color);
}

.navbar .logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

.navbar .logo h1 {
    font-size: 1em;
    font-weight: 600;
    width: 150px;
}

/* Menu for desktop */
.navbar .menu {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
    
.navbar .menu a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 200ms;
}

.navbar .menu a:hover {
    color: var(--text-color-highlight);
}

/* Menu for mobile */
.navbar .hamburger-menu {
    height: inherit;
    position: relative;
}

.navbar .hamburger-menu a {
    opacity: 1;
    transition: opacity 200ms;
}

.navbar .hamburger-menu .hidden {
    opacity: 0;
}

.navbar .hamburger-menu img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.overlay {
    width: 100%;
    height: 0%;
    background: var(--primary-background-color);
    position: absolute;
    z-index: 1;
    transition: height 200ms, padding-top 200ms;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.overlay a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 2em;
    margin: 20px 0px;
    transition: color 200ms;
}

.overlay a:hover {
    color: var(--text-color-highlight);
}

/* Navbar media query */
@media screen and (min-width: 820px) {
    .navbar .hamburger-menu {
        display: none;
    }

    .overlay {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .navbar .menu {
        display: none;
    }
}

section {
    padding: 50px 10%;
}

/* Hero section */

/* Hero for desktop */
@media screen and (min-width: 1080px) {
    .hero {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .hero .image {
        width: 500px;
        height: 500px;
        overflow: hidden;
        position: relative;
    }

    .hero .image img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

/* Hero for mobile */
@media screen and (max-width: 1080px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .hero .image {
        overflow: hidden;
        position: relative;
    }

    .hero .image img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.hero .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.hero .text h1 {
    margin: 0px;
    font-size: 3em;
}

.hero .text h1 mark {
    background-color: inherit;
    color: var(--primary-color);
}

.hero .text p {
    margin: 0px;
    font-size: 1em;
}

.hero .text .cta {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.hero .text .cta a {
    padding: 1em 2em;
    border-radius: 5px;
    text-decoration: none;
    color: var(--text-color);
}

.hero .text .cta .primary-button {
    background-color: var(--primary-color);
    transform: translateY(0px);
    transition: background-color 200ms, transform 200ms;
}

.hero .text .cta .primary-button:hover {
    background-color: var(--primary-color-highlight);
    transform: translateY(-3px);
}

.hero .text .cta .secondary-button {
    background-color: var(--secondary-color);
    transition: background-color 200ms, transform 200ms;
}

.hero .text .cta .secondary-button:hover {
    background-color: var(--secondary-color-highlight);
    transform: translateY(-3px);
}

/* About section */
.about {
    background: var(--secondary-background-color);
}

.about h1 {

}
